@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: white;
    color: #333;
    font-family: 'Montserrat';
}

a{
    color: #333;
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

 .hero-wrapper{
    text-align: center;
    background: url('../img/bg-hero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 37em;
    margin: 0em 1em 2em 1em;
}

.wrapper {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}
 
header{
    background: url('../img/sygnet.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .sygnet{
        width: 3em;

    }
    ul {
        display: flex;
        li a {
            padding: 0 .6em;
        }
    }
}

.hero-content{
    margin: 4em 0 2em;
    h1{
        color: #333;
        font-weight: 900;
        font-size: 1.6em;
        line-height: 1.2em;
    }
    .subtitle{
        color: #333;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.4em;
        margin-bottom: 2em;
    }
    .button1{
        margin: 0;
        background-color: #ff5a2f;
        color: white;
        border: none;
        padding: 1em 2em;
        border-radius: 38px;
        font-size: 1em;
        cursor: pointer;
    }
}

.orange-box{
    padding: 1.4em 0;
    background-color: #ff7631;
    text-align: center;

    h1{
        color: white;
        font-weight: 700;
        font-size: 1.4em;
    }
    h2{

        color: white;
        font-weight: 400;
        font-size: 1em;

            br{
                display: none;
            }
    }
}

.icon{
    text-align: center;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-around;
    margin-top: 3em;
    align-items: center;

    li{

    }

    img{
        margin-bottom: 1em;
        height: 7em;
    }

    strong{
        margin-bottom: .75em;
        display: block;
        font-size: 1.4em;
    
    }

    span{
        margin-bottom: 1em;
        display: block;
        font-size: 1em;
    }
}

@media(min-width: 550px){
    header{
        background: url('../img/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 3em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .wrapper{
        padding: 1.5em 4em;
    }
    .hero-wrapper{
        text-align: left;
    }
    .orange-box{
            h2{        
                    br{
                        display: block;
                    }
            }

    }
}
@media(min-width: 850px){
    body{
        font-size: 18px;
    }
    .hero-content{
        h1{
            font-size: 1.9em;
        }
        .subtitle{
            font-size: 1em;
        }
    }
    .hero-wrapper{
        margin-bottom:3em;
    }
    .wrapper {
        padding: 1.5em 1.5em 1.5em 1.5em;
    }
    .test{
        display: flex;
        align-items: center;
    }
    .orange-box{
        h1{
            font-size: 1.9em;
        }
        h2{
            font-size: 1.3em;
        }
    }

}
@media(min-width: 1150px){
    .icon{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    }

}
@media(min-width:1200px){
    .hero-content{
        h1{
            font-size: 2.5em;
        }
        .subtitle{
            font-size: 1.3em;
        }
    }
    .hero-wrapper{
        background-size: 60em;
        height: 45em;

    }
    .test{
        margin-top: 3em;
    }
}