@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
  color: #333;
  font-family: 'Montserrat';
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  text-align: center;
  background: url("../img/bg-hero.svg");
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 36em;
}

.wrapper {
  padding: 1.5em;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .sygnet {
  width: 3em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li a {
  padding: 0 .6em;
}

/*header{

}
.logo{
    width: 5rem;
            }
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-icons {
    font-size: 2em;
    cursor: pointer;
}

.close{
    color: white;
}
.nav-list{
    width: 20rem;
    height: 100vh;
    background-color: #ff7631;
    position: fixed;
    top: 0;
    right: -20rem;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: .5em;
    left: .5em;
}
.nav-item{
margin: 1em 0;
}
.nav-link{
color: white;
}
*/
.hero-content {
  margin: 5em 0 2em;
}

.hero-content h1 {
  color: #333;
  font-weight: 900;
  font-size: 1.6em;
  line-height: 1.2em;
}

.hero-content .subtitle {
  color: #333;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 2em;
}

.hero-content .button1 {
  margin: 0;
  background-color: #ff5a2f;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 38px;
  font-size: 1em;
  cursor: pointer;
}

.orange-box {
  background-color: #ff7631;
  text-align: center;
}

.orange-box h1 {
  color: white;
  font-weight: 700;
  font-size: 1.4em;
}

.orange-box h2 {
  color: white;
  font-weight: 400;
  font-size: 1em;
}

.icon {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3em;
}

.icon li {
  margin-bottom: 3em;
}

.icon img {
  margin-bottom: 1em;
  height: 7em;
}

.icon strong {
  margin-bottom: .75em;
  display: block;
  font-size: 1.4em;
}

.icon span {
  margin-bottom: 1em;
  display: block;
  font-size: 1em;
}

@media (min-width: 478px) {
  .wrapper {
    padding: 1.5em 4em;
  }
  .hero-wrapper {
    text-align: left;
  }
  .hero-content {
    margin-right: 10em;
  }
}
/*# sourceMappingURL=main.css.map */